/* Border-block */
.b-no-bg
    border: 1px solid var(--border-dark)
    border-radius: 8px
.b-no-bg-dark
    border: 1px solid var(--border-white)
    border-radius: 8px
.btn-b-w
    background: var(--bg-white)
    border: 1px solid var(--border-dark)
    color: var(--text-white)
    padding: 15px 40px
    text-transform: uppercase
    font-weight: 600
.modal-content
    background: var(--bg-white)
    color: var(--text-white)
.modal-footer, .modal-header
    border: none
.private-info
    font-size: 12px
    font-weight: 300
    padding-top: 12px
